body {
    margin: 20px auto;
    width: 70%;
    font-family:'Roboto', sans-serif;

}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
p, ul {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

p.top {
  margin-bottom:0;
  font-style: italic;
  font-size: 1.25em;
  color: #999999;
}

p.bottom {
  margin-top:0;
  font-size: .9em
}

ul.none {
  list-style: none;
  padding:0;
  margin:0
}

p.pub {
  margin-bottom:0;
  font-weight: bold
  font-size: 1.25em;
}

auth {
  font-size: .75em;
  color: #999999;
  font-style: italic;
}

button {
  background-color: transparent;
  border:1px solid;
	padding:.5em;
  border-radius: 5px;
}

button:hover {
  background-color:#d3d3d3;
  color: #000;
  opacity: .5;
}

button:focus{
  background-color:#e6e6fa;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    width: 200px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.tab {
  margin-left: 40px;
}

figure {
  margin-left: 0;
}

figcaption {
  font-style: italic;
}

.small-pic {
  max-width: 300px;
}

.med-pic {
  max-width: 500px;
}

.less-bot-marg {
  margin-bottom: -10px;
}

/*MEDIA QUERIES*/
@media screen and(max-width:980px){
	#wrapper {
		font-size:2em;
	}

}
