<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" type="image/png" href="files/ey.png">
			<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script type="text/javascript" src="/js/main.js"></script>

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/work">Work</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/design">Design</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:yee.erica.e@gmail.com">email</a></li>
				<li><a href="https://www.linkedin.com/in/erica-yee/">linkedin</a></li>
				<li><a href="https://github.com/ericayee">github</a></li>
				<li><a href="../files/Erica_Yee_Resume.pdf">resume</a></li>
				<li><a href="https://twitter.com/ericayee_">twitter</a></li>
			</ul>
			</footer>
		</body>
	</html>
